.backgroundC{
  background-color: #FAFAFA;
  height: 100vh;
}
.coponentDisplay{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 55%;
  margin: auto;

}
.loginsecandsignup{
  height: 550px;
  width: 350px;
}
.loginSection{
  height: 400px;
  width: 350px;
}
.signupsection{
  height: 65px;
  width: 350px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.displayMobile{
height: 550px;
width: 350px;
}
.smartPhoneImage{
  height: 550px;
  width: 350px;
}
.loginSectionBg{
  background-color: white;
}
input[type=email], input[type=password]{
  width: 75%;
  padding: 10px;
  border-radius: 1px;
  background-color: #FAFAFA;
  border: 1px solid lightgray;
  font-size: 12px;
  
}
.loginDiv{
  width: 75%;
  margin: auto;
}
.line-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5px;
  width : 75%;
  margin: auto;
}
.lines{
  width: 35%;
}
.pfont{
  font-size: 14px;
  font-weight: 500;
  color:rgb(163, 162, 162) ;
}
.loginwith{
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  width : 75%;
  margin: auto;

}
.loginwithfb{
  color: #3851A5;
  font-weight: 500;
  font-size: 15px;
  margin-top: 12px;
}
.forgotPass{
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 12px;
  color: rgb(6,57,112);
  
}
a:link{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.donthave{
  font-size: 14px;
}
.signuplink{
  font-size: 14px;
  font-weight: 500;
}
.getapp{
  font-size: 14px;
}
.storeimages{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}