.backgroundC{
  background-color: rgb(245, 245, 245);
  height: 100vh;
}
.coponentDisplay{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 55%;
  margin: auto;

}
.loginSection{
  height: 550px;
  width: 350px;
}
.displayMobile{
height: 550px;
width: 350px;
}
.smartPhoneImage{
  height: 550px;
  width: 350px;
}
.loginSectionBg{
  background-color: white;
}
input[type=email], input[type=password]{
  width: 75%;
  padding: 10px;
  border-radius: 1px;
  background-color: rgb(245, 245, 245);
  border: 1px solid lightgray;
  font-size: 12px;
  
}
.loginDiv{
  width: 75%;
  margin: auto;
}
.line-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5px;
  width : 75%;
  margin: auto;
}
.lines{
  width: 35%;
}

